/* popup styles */
#mainPopup {
  padding: 10px;
  width: 400px;
  font-family: Ubuntu, Arial, sans-serif;
}

input{
  font-size: 1rem;
  height: 2rem;
  border-radius: 3px;
  outline: none;
  border: 1px solid #ddd;
  padding: 0 5px;
}
.text-center{
  text-align: center;
}
.btn{
  height: 2rem;
  font-size: 1rem;
  color: #fff;
  border-radius: 3px;
  border: 1px solid #fff;
  outline: none;
  font-weight: 600;
  cursor: pointer;
  opacity: .9;
  /* transition: opacity .3s; */
}
.btn.green{
  background-color: #23d160;
  border-color: #23d160;
}
.btn.pink{
  background-color: #de6b96;
  border-color: #de6b96;
}
.btn.fluid{
  width: 100%;
}
.btn:hover{
  opacity: 1;
}

.addNewTab{
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}
#newTabUrl{
  width: 300px;
}
#addNewTab{
  margin-left: 4px;
  width: 80px;
}

.tabsList{
  max-height: 350px;
  overflow-y: auto;
}
.tabsList .message{
  font-size: 1rem;
  padding-top: 10px;
}

.tabsList ul{
  list-style-type: none;
  padding-left: 0;
}
.singleTab{
  display: flex;
  flex-flow: wrap;
  font-size: 1rem;
  background-color: #eee;
  border-radius: 3px;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
}
.singleTab > *{
  margin-right: 10px;
}
.singleTab .titleTab{
  width: calc(100% - 60px);
  overflow: hidden;
}
.removeTab{
  cursor: pointer;
}

.pinTabs{
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

.removeTab:hover{
  color: red;
}

.faviconTab img{
  width: 16px;
  height: 16px;
}